<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <div class="h3">I AM HERE</div>-->
<!--      <input type="text" [(ngModel)]="title">-->
<!--      <p>{{title}}</p>-->

<!--      <input type="text"  (input)="onUpdateServerName($event)">-->
<!--      <p>{{serverCreationStatus}}</p>-->
<!--      <button class="btn btn-primary" [disabled]="!isAvailable" (click)="onCreateServer()"> ADADADADAD</button>-->
<!--      <p>{{isAvailable}}</p>-->


<!--&lt;!&ndash;      <app-server *ngFor="let server of servers"></app-server>&ndash;&gt;-->

<!--      <h3>Username</h3>-->
<!--      <input type="text" class="form-control" [(ngModel)]="username">-->
<!--      <p [ngStyle]="{backgroundColor : getColor()}">{{username}}</p>-->
<!--      <button class="btn btn-primary" (click)="doThis()" [disabled]="username.length<=5">CLICKY</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-final-practice></app-final-practice>
    </div>
  </div>
</div>
